:root {
    --second-color: #ffffff;
    --primary-color: #000000;
    --black-color: #7a878f;
}

body {
    font-family: 'Times New Roman';  
    background-color: rgba(0, 0, 0, 0.2); /* Cambiado para que coincida con el segundo bloque */
}

.header {  
    text-align: center;  
    margin: 40px 0;  
    color: var(--second-color); /* Usar variable para el color */
}  

.content-section {
    
    background-color:rgb(231, 231, 231);
    border: 1px solid var(--primary-color); /* Usar variable para el color */
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 10px rgba(45, 62, 99, 0.1);
    height: auto; 
    background-size: cover; /* Mantener esta imagen como cover para que llene el área */
    background-repeat: no-repeat;
    background-position: center;
}

.service-icon {
    width: 80px;
    height: 80px;
}

.testimonial {  
    background-color: rgb(42, 157, 250); 
    border-radius: 10px;  
    padding: 20px;  
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  
    color: var(--second-color); /* Usar variable para el color */
}